:root {
    --font-sans-serif: VegurLight, sans-serif;
    --teal: #103947;
    --white: #ffffff;
}

html {
    box-sizing: border-box;
    align-content: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-style: regular;
    color: var(--teal);
    font-size: 1rem;
    line-height: 1.7;
    background-color: #fffcf3; 
    display: block;
}

h1 {
    color: rgb(16, 57, 71);
    display: block;
    font-family: VegurRegular;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    color: rgb(16, 57, 71);
    display: block;
    font-family: VegurRegular;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: .5rem;
    text-align: center;
}

h3 {
    color: rgb(16, 57, 71);
    display: block;
    font-family: VegurRegular;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: .5rem;
    text-align: center;
}

p {
    color: rgb(16, 57, 71);
    display: block;
    font-family: Vegurlight;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.sidebar {
    height: 100%;
    width: 242px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

}

.site-logo {
    font-family: VegurRegular;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: #103947;
    width: 242px;
    float: left;
}

.site-nav-address {
    box-sizing: border-box;
    color: rgb(170, 136, 5);
    display: block;
    font-family: VegurRegular;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 23.8px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

.site-nav-menu {
    box-sizing: border-box;
    color: rgb(170, 136, 5);
    display: block;
    font-family: VegurRegular;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 23.8px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    align-content: center;
}

li {
    margin-top: 10px;
    display: list-item;
}

button {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: VegurRegular;
    color: #fff;
    background-color: #aa8805;
    border-color: #aa8805;
    margin-top: 30px;
}

.menu-buttons {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: VegurRegular;
    color: #fff;
    background-color: #103947;
    border-color: #103947;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 50px;
}


.fa {
    color: rgb(170, 136, 5);
    padding: 20px;
    align-content: center;
    font-size: 70px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    position: relative;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 18px;
}



.main {
    margin-left: 242px;
}

.site-nav {
    font-family: VegurRegular;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: #103947;
    max-width: 242px;
    float: left;


}

a:link {
    color: rgb(170, 136, 5);
    text-decoration: none;
}


a:visited {
    color: rgb(170, 136, 5);
    text-decoration: none;
}

a:hover {
    color: rgb(170, 136, 5);
    text-decoration: none;
}

a.active {
    color: #ffffff;
}

.site-logo {
    font-family: VegurRegular;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: #103947;
    width: 242px;
    float: left;


}

.site-nav-address {
    box-sizing: border-box;
    color: rgb(170, 136, 5);
    display: block;
    font-family: VegurRegular;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 23.8px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

.site-nav-menu {
    box-sizing: border-box;
    color: rgb(170, 136, 5);
    display: block;
    font-family: VegurRegular;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 23.8px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    align-content: center;
}

li {
    margin-top: 10px;
    display: list-item;
}

button {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: VegurRegular;
    color: #fff;
    background-color: #aa8805;
    border-color: #aa8805;
    margin-top: 30px;
}


.fa {
    color: rgb(170, 136, 5);
    padding: 20px;
    align-content: center;
    font-size: 70px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    position: relative;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 18px;
  }